<!doctype html>
<html>
<head>
  <title>Rhizosphere Showcase :: Google Code</title>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <link rel="stylesheet"
        href="/static/showcase/code/stylesheets/googlecodeindexmobile.css"
        type="text/css" media="screen" charset="utf-8">

  <script src="/static/shared/js/jquery-1.4.4.min.js"
          type="text/javascript" charset="utf-8"></script>
  {% include "../../ga.html" %}
</head>
<body class="googlecode-index-mobile">
  <div id="header">
    <h1>Google Code <br/><span class="subtitle">Issue Tracking</span></h1>
  </div>

  <div class="boilerplate box">
    <img src="/static/shared/img/rhizosphere_icon.png"
         style="vertical-align: middle">
    Powered by the <strong>Rhizosphere</strong> visualization library.<br />
    <a href="javascript:;" id="learnmore_trigger">Learn more</a>

    <div id="learnmore_details" style="display: none">
      <p>
        <a href="http://sites.google.com/site/rhizosphereui">Rhizosphere</a>
        is an innovative project to provide in-browser html-based
        spatial navigation and interaction on structured data.
      </p>
      <p>
        This showcase application integrates Rhizosphere with
        <a href="http://code.google.com/projecthosting/">
          Google Code Project Hosting</a> to let you browse and manage issues,
        tasks and activities associated to your Google Code projects.
      </p>
      <p>
        This application exists to demonstrate Rhizosphere
        capabilities. Although we aim to provide a useful service, we may not
        be able to offer a rich enough feature set to cover all project
        management needs.
      </p>
      <p>
        If you want to learn more, you can browse the
        <a href="http://sites.google.com/site/rhizosphereui">Rhizosphere site</a>,
        have a look at the Rhizosphere
        <a href="http://code.google.com/p/rhizosphere/">source code</a> (it's
        open source), read the
        <a href="http://www.rhizospherejs.com/doc">documentation</a> or ask
        questions in the
        <a href="http://groups.google.com/group/rhizosphere/topics">
          discussion group</a>.
      </p>
    </div>    
  </div>
  <form action="/showcase/code/rhizo" id="form" method="GET">
    <div class="search box">
      
      {% if error %}
      <p class="error">
        {{ error }}
      </p>
      {% endif %}

      <label for="p" id='plabel'>Project Name:</label>
      <input type="text" name="p" id="p" value="{{ qs.p }}"
             autofocus="autofocus" autocomplete="off"><br />
      <p>
        <span class="hint">Examples:
          <a href="/showcase/code/rhizo?p=chromium&pub=12m&n=500"
             title="Up to 500 issues created in the last year">chromium</a>,
          <a href="/showcase/code/rhizo?p=rhizosphere"
             title="All Rhizosphere issues">rhizosphere</a>,
          <a href="/showcase/code/rhizo?p=v8&can=open&upd=12m&n=500"
             title="Up to 500 open issues changed in the last year">v8</a>
        </span>
      </p>
      <label for="det">Details:</label>
      <select name="det" id="det">
        <option value="compressed" {% ifequal qs.det 'compressed' %}selected='selected'{% endifequal %}>few</option>
        <option value="all" {% ifequal qs.det 'all' %}selected='selected'{% endifequal %}>lots</option>
      </select>
      <br/>

      <a id="advanced_trigger" href="javascript:;">Advanced options</a>
      <div id="advanced_details" style="display: none">
        <label for="n">Max results:</label>
        <select id="n" name="n">
          <option value="max" {% ifequal qs.n 'max' %}selected='selected'{% endifequal %}>max</option>
          <option value="10" {% ifequal qs.n '10' %}selected='selected'{% endifequal %}>10</option>
          <option value="50" {% ifequal qs.n '50' %}selected='selected'{% endifequal %}>50</option>
          <option value="100" {% ifequal qs.n '100' %}selected='selected'{% endifequal %}>100</option>
          <option value="500" {% ifequal qs.n '500' %}selected='selected'{% endifequal %}>500</option>
          <option value="1000" {% ifequal qs.n '1000' %}selected='selected'{% endifequal %}>1000</option>
          <option value="2000" {% ifequal qs.n '2000' %}selected='selected'{% endifequal %}>2000</option>
          <option value="5000" {% ifequal qs.n '5000' %}selected='selected'{% endifequal %}>5000</option>
          <option value="10000" {% ifequal qs.n '10000' %}selected='selected'{% endifequal %}>10000</option>
        </select><br />

        <label for="pub">Created since:</label>
        <select name="pub" id="pub">
          <option value="" {% ifequal qs.pub '' %}selected='selected'{% endifequal %}>all time</option>
          <option value="1d" {% ifequal qs.pub '1d' %}selected='selected'{% endifequal %}>yesterday</option>
          <option value="1w" {% ifequal qs.pub '1w' %}selected='selected'{% endifequal %}>last week</option>
          <option value="1m" {% ifequal qs.pub '1m' %}selected='selected'{% endifequal %}>last month</option>
          <option value="3m" {% ifequal qs.pub '3m' %}selected='selected'{% endifequal %}>last 3 months</option>
          <option value="6m" {% ifequal qs.pub '6m' %}selected='selected'{% endifequal %}>last 6 months</option>
          <option value="12m" {% ifequal qs.pub '12m' %}selected='selected'{% endifequal %}>last year</option>
        </select><br/>

        <label for="can">Canned query:</label>
        <select name="can" id="can">
          <option value="all" {% ifequal qs.can 'all' %}selected='selected'{% endifequal %}>all</option>
          <option value="open" {% ifequal qs.can 'open' %}selected='selected'{% endifequal %}>open</option>
          <option value="owned" {% ifequal qs.can 'owned' %}selected='selected'{% endifequal %}>owned</option>
          <option value="reported" {% ifequal qs.can 'reported' %}selected='selected'{% endifequal %}>reported</option>
          <option value="starred" {% ifequal qs.can 'starred' %}selected='selected'{% endifequal %}>starred</option>
          <option value="new" {% ifequal qs.can 'new' %}selected='selected'{% endifequal %}>new</option>
          <option value="to-verify" {% ifequal qs.can 'to-verify' %}selected='selected'{% endifequal %}>to-verify</option>
        </select><br />

        <label for="upd">Updated since:</label>
        <select name="upd" id="upd">
          <option value="" {% ifequal qs.upd '' %}selected='selected'{% endifequal %}>all time</option>
          <option value="1d" {% ifequal qs.upd '1d' %}selected='selected'{% endifequal %}>yesterday</option>
          <option value="1w" {% ifequal qs.upd '1w' %}selected='selected'{% endifequal %}>last week</option>
          <option value="1m" {% ifequal qs.upd '1m' %}selected='selected'{% endifequal %}>last month</option>
          <option value="3m" {% ifequal qs.upd '3m' %}selected='selected'{% endifequal %}>last 3 months</option>
          <option value="6m" {% ifequal qs.upd '6m' %}selected='selected'{% endifequal %}>last 6 months</option>
          <option value="12m" {% ifequal qs.upd '12m' %}selected='selected'{% endifequal %}>last year</option>
        </select>
        <p id="authnotice" style="display: none">
          We will need access to your authenticated project feeds for this extraction.
        </p>
      </div>
    </div>
  </form>
  <a href="javascript:$('#form').submit()" id="submit">Go</a>

  <script>
    $(document).ready(function() {
      $('#learnmore_trigger').click(function() {
        $('#learnmore_details').slideDown('fast');
      });
      $('#advanced_trigger').click(function() {
        $(this).fadeOut(200);
        $('#advanced_details').show(200);
      });

      {% if qs.pub %}{% ifnotequal qs.pub '' %}
        $('#advanced_trigger').hide(); $('#advanced_details').show();
      {% endifnotequal %}{% endif %}
      {% if qs.can %}{% ifnotequal qs.can 'all' %}
        $('#advanced_trigger').hide(); $('#advanced_details').show();
      {% endifnotequal %}{% endif %}
      {% if qs.n %}{% ifnotequal qs.n 'max' %}
        $('#advanced_trigger').hide(); $('#advanced_details').show();
      {% endifnotequal %}{% endif %}
      {% if qs.upd %}{% ifnotequal qs.upd '' %}
        $('#advanced_trigger').hide(); $('#advanced_details').show();
      {% endifnotequal %}{% endif %}
    });
  </script>
</body>
</html>