<!DOCTYPE html>
<html>
  <head>
    <title>Rhizosphere</title>

   <!--
    Google services integration. Autoloads:
    - google visualization APIs.
   -->
    <script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7Bmodules%3A%5B%7Bname%3Avisualization%2Cversion%3A1%7D%5D%7D"></script>

    <!-- AppEngine channels -->
    {% if use_channels %}
      <script src='/_ah/channel/jsapi'></script>
    {% endif %}

    <!-- Rhizosphere libraries and styles -->
    {% include "rhizo_head.html" %}
  </head>
  <body>
    <div id="rhizo-pangea" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">
    </div>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        {% if use_channels %}
          // TODO(battlehorse): Broadcasting should rely on capabilities to
          // decide whether to activate itself or not, rather than URL
          // experimental parameters.
          rhizo.ui.component.templates['broadcast'] = function(project, options) {
            var template;
            if (project.gui().isSmall() || project.gui().isMobile()) {
              template = new rhizo.ui.component.BottomTemplate(
                  project, options, 'bottom');
              template.addtoBottomBar(new rhizo.broadcast.BaseComponent(
                  project, options));
            } else {
              template = new rhizo.ui.component.StandardTemplate(
                  project, options, 'default');
              template.addtoLeftBar(new rhizo.broadcast.BaseComponent(
                  project, options));
            }
            return template;
          };
        {% endif %}

        var options = {
          allowConfigFromUrl: true
          {% if use_channels %}
            ,template: 'broadcast'
          {% else %}
            {% if template %}
            ,template: '{{template}}'
            {% endif %}
          {% endif %}
          {% if platform %}
          ,platform: '{{platform}}'
          {% endif %}
          {% if device %}
          ,device: '{{device}}'
          {% endif %}
        };
        var bootstrapper = new rhizo.bootstrap.Bootstrap(
            $('#rhizo-pangea'), options);
        bootstrapper.prepareAndDeploy();
      });
    </script>
    {% include "ga.html" %}
  </body>
</html>
