<!DOCTYPE html>
<html>
  <head>
    <title>Rhizosphere</title>

    {% include "rhizo_head.html" %}
  </head>
  <body>
    <div id="rhizo-pangea" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">
    </div>

    <script type="text/javascript" charset="utf-8">
      // Force GViz to load early on, as otherwise the loading won't happen
      // if started inside the bootstrapper (I suspect because the bootstrapper
      // is itself included inside the JQuery ready() function).
      // This is reproducible in FF3.5 and Safari4 on Mac.
      //
      // Note that I suspect this may cause a possible race condition, since in
      // the bootstrapper we might be using GViz objects before the loading is
      // completed (aka, we don't wait the callback to be invoked).
      if (typeof google != 'undefined') {
        google.load('visualization', '1');
        google.setOnLoadCallback(function() {});
      }

      $(document).ready(function() {
        var options = {
          allowSourcesFromUrl: true
          {% if forceTemplate %}
          ,forceTemplate: '{{forceTemplate}}'
          {% endif %}
          {% if forcePlatform %}
          ,forcePlatform: '{{forcePlatform}}'
          {% endif %}
          {% if forceDevice %}
          ,forceDevice: '{{forceDevice}}'
          {% endif %}
        };
        var bootstrapper = new rhizo.bootstrap.Bootstrap(
            $('#rhizo-pangea'), options);
        bootstrapper.go();
      });
    </script>
  </body>
</html>
