/*
 samples.css
*/

/* Styles used only by Rhizosphere samples */
.rhizo-sample {
  color: #000;
  font-size: 11px;
  width: 100%;
  height: 100%;
  padding: 3px;
}

.rhizo-sample P {
  margin: 0;
  padding: 0;
}

